.marca{
  display: flex;
  justify-content: center;
  align-items: center;
}

.marca img{
  margin-right: 10px;
}

.img-profile{
  height: 32px;
  margin-right: 5px;
}

.img-profile-2{
  height: 50px;
}

.img-listado{
  height: 60px;
}

.img-sort{
  height: 10px;
}